.search-box {
  padding-block: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;

  .search-box-results ul {
    list-style-type: none;
    list-style-position: unset;
  }

  .search-box-results li {
    display: flex;
    height: 44px;
    padding-inline: 1em;
    border-radius: 2em;
    align-items: center;
    color: var(--ui-txt);
  }

  .search-box-results li:hover {
    background-color: var(--ui-hover);
    cursor: pointer;
  }
}

.search-box > input {
  width: 100%;
  border-color: transparent;
  padding-inline: 1em;
  padding-block: 0.5em;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 500;
  box-sizing: border-box;
}

.large > input {
  border-radius: 2em;
}

.search-box > input:focus {
  outline: 2px solid black;
}
