.detail-item {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  padding: 1em;
  background-color: var(--ui-background-0);
  align-items: center;
  max-width: 8rem;
  .detail-value {
    font-size: 2rem;
    font-weight: bold;
  }
}
