.now-card {
  background-color: unset;
  box-shadow: unset;
  padding: unset;
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;

    .primary {
      display: flex;
      flex-direction: row;
      font-size: 3em;
      font-weight: bold;
      font-family: var(--ui-font-family-monospace);
      color: var(--ui-primary-text);
    }

    .secondary {
      text-align: end;

      div:first-child {
        color: var(--ui-primary-text);
      }
    }
  }
}

@media (min-width: 1120px) {
  .now-card {
    .main {
      .secondary {
        padding-right: 3em;
      }
    }
  }
}
