.location-forecast {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "header"
    "now"
    "hourly"
    "daily"
    "details"
    "rain";

  padding: 1em;
  margin-inline: auto;
  max-width: 1024px;

  .header {
    background-color: var(--ui-bg-1);
    border-radius: 1em;
    padding-inline: 3em;
    padding-block: 0.5em;

    background-image: var(--ui-icon-search);
    background-size: 2em auto;
    background-repeat: no-repeat;
    background-position: center left;
    background-position-x: 0.5em;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }

  .now-card {
    grid-area: now;
  }
  .hourly-card {
    grid-area: hourly;
  }
  .daily-card {
    grid-area: daily;
  }
  .rain-card {
    grid-area: rain;
  }
  .header {
    grid-area: header;
  }
  .details-card {
    grid-area: details;
  }

  .empty {
    display: flex;
    flex: 1;
    width: 90vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
}

@media (min-width: 780px) {
  .location-forecast {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "now   hourly"
      "daily hourly"
      "daily details"
      "rain  rain";
  }
}

@media (min-width: 1120px) {
  .location-forecast {
    margin-left: 18%;

    .header {
      background-color: unset;
      border-radius: unset;
      padding-inline: unset;
      padding-block: unset;
      background-image: unset;
      cursor: unset;
    }

    .empty {
      width: 70vw;
      height: 70vh;
    }
  }
}

.location-context {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  justify-self: center;
  align-items: center;

  > :first-child {
    width: 3em;
    height: 3em;
    border-width: 0.2em;
  }

  > div {
    font-size: 2em;
  }
}
