@layer base;

:root {
  --ui-font-family: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    Helvetica, Arial, "Helvetica Neue", sans-serif;
  --ui-font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo,
    Consolas, "Liberation Mono", monospace;
  --ui-border-radius: 0.25rem;

  --ui-surface: #ffffff;
  --ui-background-0: #f8f1f6;
  --ui-background-1: #e8e0e8;
  --ui-background-3: #e5e7eb;
  --ui-primary: #9f86ff;
  --ui-secondary: #cbbeff;
  --ui-hover: rgb(220, 218, 245);
  --ui-primary-text: #0c4047;
  --ui-skim: rgba(23, 23, 23, 0.5);
  --ui-card-border: rgba(23, 23, 23, 0.05);
  --ui-txt: #333;
  --ui-link-txt: #0172ad;

  --ui-transition: 0.2s ease-in-out;

  --ui-icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  --ui-icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --ui-surface: #000;
    --ui-background-0: rgb(28, 27, 29);
    --ui-background-1: rgb(33, 31, 33);
    --ui-txt: #f0f1f3;
    --ui-link-txt: #01aaff;
    --ui-primary: rgb(103, 80, 164);
    --ui-secondary: rgba(103, 80, 164, 0.6);
    --ui-hover: rgba(103, 80, 164, 0.2);
    --ui-primary-text: #79c0ff;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }
}

a {
  color: var(--ui-link-txt);
}

body {
  font-family: var(--ui-font-family);
  background-color: var(--ui-background-0);
  position: relative;
  color: var(--ui-txt);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--ui-primary-text);
}

.grid-item {
  display: flex;
  gap: 1em;
  &.align-items {
    align-items: center;
  }
}

.grid-item-day {
  width: 52px;
  &.text-align-end {
    text-align: end;
  }
}

.grid-item-icon {
  width: 50px;
}

.grid-item-range {
  flex: 1;
  display: flex;
}

.timeline {
  width: 1em;
  height: inherit;
}

.grid-item:first-of-type .timeline {
  border-top-left-radius: var(--ui-border-radius);
  border-top-right-radius: var(--ui-border-radius);
}

.grid-item:last-of-type .timeline {
  border-bottom-left-radius: var(--ui-border-radius);
  border-bottom-right-radius: var(--ui-border-radius);
}

.grid-item-card {
  background-color: var(--ui-primary);
  border-radius: 0.8em;
  padding-inline: 0.5em;
  padding-block: 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid-item-status {
  width: 100px;
  text-wrap: nowrap;
  overflow: hidden;
}

article {
  border-radius: 1em;
  background-color: var(--ui-surface);
  padding: 1em;
  box-shadow: 0 0 0 1px var(--ui-card-border);
}

.timeline-sun {
  background-color: #ffd700;
}

.timeline-almost-sun {
  background-color: #f9e79f;
}

.timeline-clear {
  background-color: #191970;
}

.timeline-cloudy {
  background-color: #c4c4c4;
}

.timeline-light-rain {
  background-color: #8eacbb;
}
.timeline-rain {
  background-color: #4a6f8a;
}

.timeline-overcast {
  background-color: #8c9ba5;
}

.timeline-partial-sunny {
  background-color: #e6d7a1;
}

.timeline-snow {
  background-color: #fff;
}

.timeline-thunder {
  background-color: #3a3a45;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--ui-skim);
  backdrop-filter: blur(2px);
  border: 0;
  box-sizing: unset;
}

.modal > article {
  max-width: 800px;
  margin-inline: auto;
  margin-top: 20%;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pad {
  padding: 1em;
}

.show-only-sm {
  display: block;
}
.show-only-lg {
  display: none;
}

@media (min-width: 1120px) {
  .show-only-sm {
    display: none;
  }
  .show-only-lg {
    display: block;
  }
}

.inline-svg {
  width: 1.2em;
  height: 1.2em;
  margin-inline: 0.5em;
  color: var(--ui-txt);
}
